.Rectangle1 {
    width: 1400px;
    height: 800px;
    position: relative;
    top: -10;
    margin-left: -10;
}


.Metrolinea2{
    width: 196px;
    height: 44px;
    position: absolute;
    left: 100px;  
    top: 30px;   
    transform: translate(-50%, -50%); 
}


.ComprarTarjeta2{
    width: 196px;
    height: 44px;
    position: absolute;
    left: 870px;  
    top: 50px;   
    transform: translate(-50%, -50%); 
}


.VerSaldo2{
    width: 196px;
    height: 44px;
    position: absolute;
    left: 1100px;  
    top: 50px;   
    transform: translate(-50%, -50%); 
}


.Buscador2{
    width: 196px;
    height: 44px;
    position: absolute;
    left: 1250px;  
    top: 60px;   
    transform: translate(-50%, -50%); 
}


.Carrito2{
    left: 1230px;
    width: 33px;
    height: 32px;
    position: relative;
    top: -760px;
    transform: translate(-50%, -50%); 
}

.Rectangle2{
    left: 1300px;
    width: 33px;
    height: 32px;
    position: relative;
    top: -825px;
    transform: translate(-50%, -50%); 
}


.flecha1{
    left: 1350px;
    width: 33px;
    height: 32px;
    position: relative;
    top: -825px;
    transform: translate(-50%, -50%); 

}