.AmazonFondo{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: contain; 
    background-color: black;
    width: 1920px;
    height: 1080px;
    position: relative;
    top: -10px;
    margin: -10px;
    padding-bottom: 30px;
}

.Logo1{
    width: 556px;
    height: 313px;
    position: absolute;
    left: 1000px;  
    top: 227px;   
    transform: translate(-50%, -50%); /
}

.Path1{
    width:1918.33px;
    height: 4149px;
    position: relative;
    top: -15px;
    margin: -10px;
}
     

.Texto1{
    width: 556px;
    height: 313px;
    position: absolute;
    left: 700px;  
    top: 530px;   
    transform: translate(-50%, -50%); /
}


.Texto2{ 
    width: 4px;
    text-align: center; 
    position: absolute;
    left: 1000px;  
    top: 530px;   
    transform: translate(-50%, -50%); /
}


.Buscador{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50px;  
    top: 50px;   
    transform: translate(-50%, -50%); /
}

.Ingresar1{
    width: 205px;
    height: 54px;
    left: 900px;;
    position: absolute;
    top: 650px;   
    transform: translate(-50%, -50%); /
}


.Ingresar2{
    width: 360px;
    height: 40px;
    left: 1020px;;
    position: absolute;
    top: 670px;   
    transform: translate(-50%, -50%); /
}

.Group1{
 width: 1792px;
 height: 567px;
 position: absolute;
 left:  990px;
 top: 1500px;
 transform: translate(-50%, -50%); /
}

.Group2{
    width: 1792px;
    height: 724px;
    position: absolute;
    left: 1000px;
    top: 2170px;
    transform: translate(-50%, -50%); /
}


.Texto3{
    width: 1664px;
    height: 60px;
    position: absolute;
    left: 1000px;
    top: 1900px;
    transform: translate(-50%, -50%); /
}


.Texto4{
    width: 1492px;
    height: 110px;
    position: absolute;
    left: 1000px;
    top: 2400px;
    transform: translate(-50%, -50%); /
}

.Group3{
    width: 1792px;
    height: 567px;
    position: absolute;
    left: 1000px;
    top:  2840px;
    transform: translate(-50%, -50%); /
}